nav {
  height: 2rem;
  background-color: rgb(33, 33, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 10;
}

header {
  width: 100%;
  position: relative;
}

.cartIcon {
  cursor: pointer;
  gap: 1rem;
}
